<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Taking App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">TAKE NOTE!</a>
        </h1>

        {{!-- <form class="login-form">
          <div>
            <label for="email-login">email:</label>
            <input type="text" id="email-login" />
          </div>
          <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
          </div>
          <div>
            <button type="submit">login</button>
          </div>
        </form>

        <form class="signup-form"> --}}
          {{!-- <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
          </div> --}}
          {{!-- <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
          </div>
          <div>
            <label for="password-signup">password:</label>
            <input type="text" id="password-signup">
          </div>
          <div>
            <button type="submit">signup</button>
          </div>
        </form> --}}

      </header>

      <main class="main-page">
        {{{body}}}
        <div class="personal">
          
        </div>
        <div class="work">
        </div>
      </main>
      
    </div>

  </body>

</html>
