<div class="container-fluid">
    <div class="row">
        <div id="personal" class="left-note col-md-6 flex-wrap text-center" >
            <h2>Personal</h2>
            <input class="text-box" type="text">
            
            <div class="button-homepage">
                <button type="save" class="rounded">Save</button>
            </div>
        </div>
      <br>
        <div id="business" class="right-note col-md-6 flex-wrap text-center">
            <h2>Business</h2>
            <input class="text-box" type="text">
            
            <div class="button-homepage">
                <button type="save" class="rounded">Save</button>
            </div>
        </div>
    <!--<main>{{{body}}}</main>-->
    </div>
  </div>


